/* src/components/Layout.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body, #root {
  margin: 0;
  height: 100%;
  font-family: 'Inter', sans-serif;
}

.layout-container {
  display: flex;
  height: 100vh;
}

.layout-content {
  flex: 1;
  padding: 1.5rem;
  background-color: #fff5f5; /* very light red tint */
  overflow-y: auto;
}
